body{
    font-family: 'Poppins', sans-serif;}
.orange{
    color: orange;
}
.flexible-con{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 60%;
}
.order-food{
    text-decoration: none;
    background-color: rgb(255, 115, 0);
    padding: 10px;
   
    border-radius: 50px;
    color: white;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(img/7.png);
}
.text-aline{
    text-align: center;
}
.recipie-title{
    display: flex;
    width: 60%;
    margin: 10px 10px ;
    padding: 10px 10px;
    -moz-box-align: center;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    
}
#cock{
    border-right: 20px solid white;
    margin-left: 5px;
  
}