body{
    font-family: 'Poppins', sans-serif;}
.orange{
    color: orange;
}
.flexible-con{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 60%;
}
.order-food{
    text-decoration: none;
    background-color: rgb(255, 115, 0);
    padding: 10px;
   
    border-radius: 50px;
    color: white;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(img/7.png);
}
.text-aline{
    text-align: center;
}

    
.reciepie-title{
    width: 40%;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    background-position: right;
}